body {
    background: #fcfcfc;
}

table {
    min-width: 600px;
}

a.navbar-brand.mr-auto {
    color: #23de43!important;
}

.card-header {
    font-size: 19px!important;
    background: #272376;
    color: #fff;
    text-transform: uppercase;
}

a.nav-link {
    color: #d3d3d3 !important;
}

a.nav-link:hover{
    color: #fff!important;
}

nav.navbar.navbar-light {
    background: #15106c!important;
}

.logout{
    padding: 0px;
    font-size: 24px;
    margin-top: 2px;
    margin-left: 20px;
}

.navbar-toggler {
    background-color: #98b2cd;
}

.tbl-header{
    background: #646464;
    color: #fff;
    text-align: center;
    text-transform: UPPERCASE;
    font-size: 14px;
}
